*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 80%;
  margin: auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: 'Lora', serif;
}
/* IDEA: HEADER */


.nav-top{
  width: 100%;
  min-height: 70px;
  background-color: #F4F9FD;
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
  position: fixed;
  z-index: 999;
}

.nav-top ul li{
  margin-right: 12px;
  display: inline-block;
}

.nav-top ul li,
.nav-top .right{
  line-height: 70px;
  vertical-align: middle;
}

.nav-top li a,
.nav-bottom li a{
  text-decoration: none;
  color: #33475B;
}

.fa-search{
  color: #15acc3;
}

#login{
  border: 1px solid #FE775A;
  color: #FE775A;
  border-radius: 5px;
  padding: 10px 12px;
  margin-left: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.orange{
  background-color: #FE775A;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
}

.nav-bottom{
  width: 100%;
  min-height: 70px;
  /* background-color: #ebf9f7; */
  padding-top: 70px;
  }

.logo{
  padding-top: 20px;
}

.nav-bottom a,
.nav-bottom .right{
  line-height: 70px;
  vertical-align: middle;
}

.nav-bottom ul li,
.boxdx ul li{
  margin-right: 12px;
  display: inline-block;
}



/* IDEA: MAIN */
main{
  width: 100%;
  min-height: 1000px;

  }

  .jumbotron{
    width: 100%;
    min-height: 655px;
    position: relative;
    background-image: url("../img/jumbotron.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .jumbo-text{
    width: 500px;
    height: 450px;
    padding-left: 130px;
    padding-top: 65px;
    /* border: 1px solid red; */
  }

  .jumbo-text h1{
    font-size: xxx-large;
  }

  .jumbo-text h1,
  .jumbo-text h4{
    margin-bottom: 20px;
  }

  .jumbo-text .orange{
    margin-bottom: 20px;
  }

  .aqua-line{
    width: 100%;
    height: 71px;
    position: absolute;
    bottom: 4px;
    background-color: #AFEBE4;
    box-shadow: -2px -4px 0px 0px rgb(45 62 80 / 85%);
  }

.sfondo{
  background-color: #F4F9FD;
}


/* parte centrale con img */
.rubik{
  width: 100%;
  height: 300px;
  position: relative;
  /* debug */
  /* border: solid 2px red; */
}

.rubik img{
  width: 240px;
  height: 160px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rubik h2{
  font-size: xx-large;
}

.rubik-text{
  position: absolute;
  text-align: center;
  bottom: 35px;
  left: 10%;
  right: 10%;
}

/* parte di float */
.row1{
}


.top{
  height: 250px;
  margin-bottom: 35px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
  /* debug */
}

.boxsx{
  height: 250px;
  width: 250px;
  /* position: relative; */
  float: left;
  margin-left: 40px;
  /* debug */
  /* border: 1px solid red; */
}

.boxsx img{
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
  left: 15%;
}

.boxsx .button-position{
  padding: 20px;
  margin-top: 60%;
  margin-left: 28%;

}

.boxdx{
  height: 250px;
  width: 620px;
  float: right;
  padding-top: 2%;
  padding-right: 6%;
  line-height: 2;
  /* debug */
  /* border: 1px solid red; */
}

.fa-check-circle{
  color: #FE775A;
  margin-right: 10px;
}

/* IDEA: questa regola mi è utile nella parte verde acqua */
/* border-bottom: 1px solid black;
padding-bottom: 20px; */
.boxdx h3{
  position: relative;
}

.boxdx h3:after {
 position: absolute;
 content: "";
 height: 1px;
 background-color: #828080;
 width: 50%;
 margin-left: 15px;
 top: 50%;
       }

.col{
  min-height: 650px;
  width: 30%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
  margin-bottom: 20px;
    /* debug */
}

.col img{
  height: 140px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.col h2,
.col p{
  text-align: center;
  line-height: 2;
}

.col hr{
  width: 70%;
  margin-inline: auto;
  margin-bottom: 40px;
}

.col li{
  list-style: none;
  color: #33475B;
  margin-left: 15%;
}

.col .button-center{
  padding: 20px;
  margin-left: 30%;
  margin-top: 15%;
}



.xx{
  margin: 0 5%;
  margin-bottom: 20px;
  /* debug */
}

.row1 img{
  width: 160px;
  display: block;
  /* height: 70px; */
}



.row1::after{
  content: "";
  display: table;
  clear: both;
}

/* tavola acqua */

.table{
  width: 100%;
  height: 500px;
  background-color: #00B3AF;
  color: #fff;
  text-align: center;
}

.table-text{
  padding: 25px 115px;
  
}

.table-text h2 {
 margin-bottom: 20px;
}



.table .container{
  height: 100%;
  /* debug */
  border: solid 2px red;
}

/* customers */

.row2{
  margin-top: 2px;
}

.customers{
  min-height: 120px;
  width: 20%;
  margin-left: 13%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  /* debug */
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
}

.affiliates{
  min-height: 120px;
  width: 55%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  /* debug */
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
}

.row2::after{
  content: "";
  display: table;
  clear: both;
}

/* start today */

.today{
  min-height: 300px;
  width: 35%;
  margin-left: 15%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
  margin-bottom: 20px;
}

.picture{
  min-height: 300px;
  width: 35%;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(45 62 80 / 25%);
  margin-bottom: 20px;
}

.row3::after{
  content: "";
  display: table;
  clear: both;
}

/* footer */

footer{
  width: 100%;
  height: 400px;
  background-color: #2D3E50;
}

.coda{
  width: 100%;
  height: 400px;
  /* debug */
  border: solid 2px red;
}
